<div class="container">

  <div class="jumbotron">
    <h1>Dolphin App Creator</h1>
    <p class="lead">One Click install of the Doliphin App Creator into your own heroku account!</p>
    <p>
      <% if @app_info %>
        <h2>Yay Installed!<h2>
        <%= render partial: 'app_info', object: @app_info %>
      <% else %>
      <a class="btn btn-lg btn-success" href="/auth/heroku" role="button">Install!</a>
      <% end %>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>One Click</h4>
      <p>You know it</p>
    </div>

    <div class="col-lg-6">
      <h4>Have all this all your own</h4>
      <p>Install it into your heroku today!</p>
    </div>
  </div>
</div>

<% if @debug %>
 <pre><%= @debug.to_yaml %></pre>
<% end %>